@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@inject IBTRolesService RolesService
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager

@{
    BTUser btUser = await UserManager.GetUserAsync(User);
    string roleName = (await RolesService.GetUserRolesAsync(btUser)).FirstOrDefault();
}

<div class="py-sm-2 ps-2 mx-auto ms-sm-0 flex-shrink-1">
    
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="ms-2">
            <div class="pb-0 mb-0">Welcome,</div>
            <span class="badge bg-dark">@roleName</span>
            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle link-style" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" width="28" height="28" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1">@btUser.FullName</span>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit();">Sign out</a></li>
            </ul>
        </div>
        

    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Login" class="d-flex align-items-center text-decoration-none dropdown-toggle link-style" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" width="28" height="28" class="rounded-circle">
            <span class="d-none d-sm-inline mx-auto">Try it now!</span>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Sign In</a></li>
        </ul>
    }
</div>
<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
</form>