/*
  primary colors
  flatwhite: #f1f3f3
  darkred: #3f0000
  gold: #ff972b
*/

html,
body {
    height: 100%;
    width: 100%;
}

.landing-page-bg {
    background-image: url('/img/kelly-sikkema-ecHIFXN_qiE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-flatwhite {
    background-color: #f1f3f3;
}

.login-panel-1 {
    width: 20rem;
    min-height: 40%;
    position: absolute;
    top: 13rem;
    left: 5rem;
    background-color: #fff;
    z-index: 10000;
}

.login-panel-2 {
    width: 22rem;
    position: absolute;
    top: 9rem;
    left: 5rem;
    background-color: #fff;
    z-index: 10000;
}

.amDark {
    background-color: #30303d;
    color: #fff;
}

#chartdiv {
    width: 100%;
    height: 500px;
}


.link-style, .link-style:active, .link-style:visited {
    text-decoration: none;
    color: inherit;
}
.link-style:hover {
    color: #ff972b;
}
.x-sm {
    font-size: x-small;
}