/*> IMPORTS <*/
@import "./loginPanel";
@import "./customScrollbar";
@import "./chartsGraphs";

/*> BOOTSTRAP COLORS <*/
$bootstrapInfo: #0dcaf0;
$bootstrapSuccess: #198754;
$bootstrapLight: #f8f9fa;

/* CUSTOM COLORS */
$backgroundDark: #241f1f;
$darkGray: #30303d;
$flatwhite: #f1f3f3;
$whiteText: #fff;
$pinkTransparency: rgba(255,20,147,.8);
$maroonTransparency: rgba(128,0,0,.9);

/* FONT SIZES */
$clampVal: calc(12vw + 1rem);
$fs-xl: clamp(3.5rem, $clampVal, 15rem);
$fs-600: 1.5rem;
$fs-500: 1.25rem;
$fs-400: 1rem;

$fancyFont: 'Lobster', cursive;

html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
}

footer {
    padding: 0;
    position: fixed;
    bottom: 0;
    background-color: $maroonTransparency;
    color: $bootstrapLight;
}

li > a > i {
    font-size: calc($fs-600 + .5rem);
}

.landing-page-bg {
    background-image: url('/img/kelly-sikkema-ecHIFXN_qiE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-flatwhite {
    background-color: $flatwhite
}

.bg-shadow {
    background-color: $backgroundDark;
    border-radius: 10px;
}

.bg-pink, .btn-hover-pink:hover {
    background-color: deeppink;
}

.bg-maroon {
    background-color: maroon;
}

.bg-lightblack {
    background-color: #333;
}

.amDark {
    background-color: $darkGray;
    color: $whiteText
}

.link-style {
    color: $bootstrapLight;
    &:active, &:visited {
        text-decoration: none;
        color: inherit;
    }

    &:hover, &:focus {
        color: maroon;
    }
}

.x-sm {
    font-size: x-small;
}

.blk-grad {
    background-image: linear-gradient(#333,#201c1c);
}

.blk-grad-top {
    background-image: linear-gradient(to top,#333,#201c1c);
}

#userBox {
    /*padding: .2rem .5rem .2rem .5rem;*/
    border-radius: 10px;
    text-decoration: none;
    color: $bootstrapLight;
}

#welcomeName {
    display: block;
    font-size: clamp($fs-600, calc($fs-600 + 1rem),4vw);
    font-family: $fancyFont;
}

.floating-nav {
  /*position: fixed;
    height: 95%;
    width: inherit;*/
    & > ul > * {
        width: 100%;
        margin: .4rem 0;
        padding: .2rem .5rem .2rem .5rem;
        border-radius: 10px;
        text-decoration: none;
        color: $bootstrapLight;
        &:active, &:visited {
            color: inherit;
        }
        &:hover, &:focus {
            background-color: deeppink;
            color: $bootstrapLight;
        }
    }
    
}

.nav-link {
    color: inherit;
    &:active, &:focus {
        color: inherit;
    }
    &:hover {
        background-color: deeppink;
        color: $bootstrapLight;
    }
}

.nav-icons {
    font-size: 2rem;
}

#userBox {
    padding: 1rem;

    &:hover, &:focus {
        background-color: deeppink;
        color: $bootstrapLight;
    }
}

.dash-card {
    background-color: $backgroundDark;
    box-shadow: 0px 8px 5px -5px maroon;
    color: inherit;

    div {
        div:nth-child(2) {
            padding: 1.5rem;
            p {
                font-size: calc($fs-600 + 1.5rem);
            }
        }
    }
}

.card-header-chart {
    height: 290px;
    position: absolute;
    margin: 0rem auto;
    padding: .5rem .3rem;
    left: 0;
    top: -40px;
    width: 90%;
}

#project-members {
    position: relative;
    overflow: auto;
    & > * {
        position: absolute;
    }
}

.floating-arrs {
    &:first-child {
        left: 0;
        top: 50%;
    }

    &:last-child {
        right: 0;
        top: 50%;
    }
    position: absolute;
}


.text-pink {
    color: deeppink;
}

.text-maroon {
    color: maroon;
}

span.text-size {
    font-size: .7rem;
}

progress {
    accent-color: maroon;
}

.transparency-light {
    opacity: .8;
}

.note-editor {
    background: white;
    color: #333;
}

.note-btn.dropdown-toggle:after {
    content: none;
}

/******************************
    RESPONSIVE 
*/

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}