@model BugTracker.Models.Invite

@{
    ViewData["Title"] = "New Invite";
}

<div class="col-12 my-3">
    <div class="card bg-dark p-5 me-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InviteeEmail" class="control-label"></label>
                <input asp-for="InviteeEmail" type="email" class="form-control" />
                <span asp-validation-for="InviteeEmail" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="InviteeFirstName" class="control-label"></label>
                <input asp-for="InviteeFirstName" class="form-control" />
                <span asp-validation-for="InviteeFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InviteeLastName" class="control-label"></label>
                <input asp-for="InviteeLastName" class="form-control" />
                <span asp-validation-for="InviteeLastName" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group my-2">
                <label class="control-label">Invite Message</label>
                <textarea class="form-control" id="summernote" name="Message"></textarea>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Send Invite" class="btn btn-primary me-3" />
                <a asp-action="Index" asp-controller="Invites" class="btn btn-sm btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script>
        $(document).ready(function() {
          $('#summernote').summernote({
                height: 300,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true                  // set focus to editable area after initializing summernote
          });
        });
    </script>
}